# Pandas can Load Files for analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
# read an externa; csv into a data frame
df = pd.read_csv('ex1.csv', sep=',') # sep is optional
names=['a','b','c','d', 'message']
df2 = pd.read_csv('ex2.csv', names=names, index_col='message' ) #, header=None)
df2

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [27]:
# we can choose which data to import
df4 = pd.read_csv('ex4.csv', skiprows=[0,2,3])
df4
# we can handle NA values as we import
df5 = pd.read_csv('ex5.csv', na_values=0)
pd.isnull(df5)
df5

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

### Large Data

In [41]:
df6 = pd.read_csv('ex6.csv', nrows=5)
df6.describe()
df6
chunks = pd.read_csv('ex6.csv', chunksize=1000)
all = pd.Series([])
for piece in chunks:
    all = all.add(piece['key'].value_counts(), fill_value=0)
    
all

<ipython-input-41-03660dfe1437>:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  all = pd.Series([])

In [42]:
df1a = pd.read_excel('ex1.xlsx')
df1a

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

### Writing Data

In [45]:
df1a.to_csv('out.csv', sep='-')

### Read and Write JSON

In [56]:
import json
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
r = json.loads(obj)
type(r)
# convert back to json
o = json.dumps(r)
s = pd.Series(r)
s
s.to_json('data.json')

### reading from API end-points

In [65]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
response = requests.get(url)
data = response.json() #[7]['title']
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
issues

,number,title,labels,state
0,41233,BUG: histogram plot ignores `xlabel` and `ylab...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,41232,ENH: Add num_formats parameter for the xlsxw...,[],open
2,41231,REF: avoid passing empty list to concat in gro...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
3,41230,COMPAT: float() exception type for py310,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
4,41228,COMPAT: error massage for py310,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
5,41227,BUG: read_excel trailing blank rows and columns,[],open
6,41226,"DOC: Add hint for ""Product space too large""",[],open
7,41225,ENH: The XLS_SIGNATURE is too restrictive,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
8,41224,REF: maybe_apply_* in core.apply,[],open
9,41223,BUG: to_string truncation row with index=False,[],open
10,41221,BUG: rows containing missing values are being ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,41217,[ArrowStringArray] use pyarrow.compute.match_s...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
12,41216,BUG: Cannot change the data type in the data f...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,41215,"BUG: Series.replace(List, ...) changes the dty...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
14,41213,Numpy Import Error,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,41212,ENH: 'Efficient' resampling with custom non-un...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
16,41207,DEPS: remove most of distutils usage #41199,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
17,41206,QST: ERROR in Jupyter using pandas module: Imp...,"[{'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOT...",open
18,41205,DOC: Add Lux to Pandas Ecosystem page,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
19,41204,CLN: groupby.ops follow-up cleanup,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
20,41203,TYP: Fix typing in ExtensionDtype registry,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
21,41202,BUG: make_block with dt64tz-1d #41168,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
22,41201,TYP: io.parsers,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
23,41200,REF: move DataFrame-specific methods from NDFrame,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
24,41199,DEPS: remove usage of distutils,"[{'id': 527603109, 'node_id': 'MDU6TGFiZWw1Mjc...",open
25,41196,To numpy float int,[],open
26,41195,TST: refactored tests to use parametrize inste...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
27,41194,ENH: use native filesystem (if available) for ...,"[{'id': 685114413, 'node_id': 'MDU6TGFiZWw2ODU...",open
28,41193,BUG: dataframe setitem error on size incompati...,[],open
29,41192,REF: tests.indexes.numeric.py,"[{'id': 1218227310, 'node_id': 'MDU6TGFiZWwxMj...",open